# This notebook will be used mainly for the capstone course

Import Pandas and Numpy

In [2]:
import pandas as pd
import numpy as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

Read the Wikipedia list of postal codes

In [24]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Drop boroughs that are "Not assigned"

In [26]:
drop_cases = df[df["Borough"]=="Not assigned"].index
df.drop(drop_cases, inplace = True)
df.reset_index(drop = True)
df.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

Combine rows with the same postcode, separate neighbours with comma

In [32]:
df = df.groupby(['Postcode', 'Borough'], sort=False, as_index=False).agg(','.join)
df.head()

  Postcode           Borough                     Neighborhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A  Downtown Toronto                     Queen's Park

If a neighborhood is "Not assigned", replace it with the name of the borough.

In [43]:
df.loc[df["Neighborhood"]=="Not assigned", "Neighborhood"] = df.loc[df["Neighborhood"]=="Not assigned", "Borough"]
df[df["Borough"]=="Queen's Park"]

  Postcode       Borough  Neighborhood
5      M9A  Queen's Park  Queen's Park

Display the number of rows in the data frame

In [44]:
df.shape

(103, 3)